h1{
    color:maroon;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: yellow;
    margin: 0;
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color:black;
    padding: 12px;
    text-align: center;
    background-color: rgb(16, 0, 5);
    margin: bottom;
}
.navbar a{
    padding: 6px;
    border-radius: 5px;
    background-color:yellowgreen;
    color: black;
    font-size: small;

}
.navbar a:hover{
    color: whitesmoke;
    background-color: palevioletred;
}
.card{
    border: 1px solid black ;
    border-radius: 30px;
    width: 150px;
    height: 350px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    overflow : hidden;
    margin-right: auto;
    background-color: yellowgreen;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card img{
    width: 100%;
    border-radius: 30px;
}
.card button{
    width: 80;
    border-radius: 10px;
    border-color: black;
    background-color: blue;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.card button:hover{
    transform: scale(1.1);
}
